[Unit]
Description=Temperatur based GPIO fan control

[Service]
Type=simple
User=fancontrol
Group=fancontrol
Environment=HOME=/opt/rpi-fan-control
WorkingDirectory=/opt/rpi-fan-control
ExecStart=/usr/bin/python3 -u /opt/rpi-fan-control/src/rpi_fan_control.py -g 21 -p 5 -n 50 -f 47
SyslogIdentifier=fancontrol
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
